@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #121212;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
    border: 0;
}

a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.wrap{
    width: 100%;
    min-width: 1920px;
}
.con{
    width: 100%;
    min-width: 1920px;
}
.header{
    width: 100%;
    height: 90px;
    background-color: #c4bfe1;
    opacity: 80%;
}
.hin{
    width: 1260px;
    height: 90px;
    margin: 0 auto;
}
.gnb ul{
    display: flex;
    justify-content: space-between;
}
.gnb li{
    padding: 30px;
}
.gnb li a{
    display: block;
    font-size: 17px;
    font-family: 'Noto Serif JP', serif;
    color: rgba(255,255,255,0.8);
    transition: transform 0.25s ease;
}
.gnb li a:hover{
    transform: scale(1.05);
}
.gnb li a:active{
    transform: scale(0.9);
}
.con1{
    width: 100%;
    min-width: 1920px;
}
.con1in{
    width: 1260px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 100%;
    position: relative;
}
.mtxt{
    font-size: 60px;
    line-height: 2.5em;
    padding-top: 175px;
    padding-left: 2PX;
    font-family: 'Noto Serif JP', serif;
    color: #a29bc7;
    position: absolute;
    left: 500px;
    z-index: 300;
}
.con1in span{
    display: block;
     width: 300px;
    height: 300px;
    border: 5px solid rgba(255,255,255,0.8);
    position: absolute;
    top: 250px;
    left: 470px;
}
.con1in .sq1{
    position: absolute;
    top: 150px;
}
.con1in .sq2{
    position: absolute;
    left: 300px;
}
.con1in .sq3{
    position: absolute;
    top: 350px;
    left: 550px;
}
.con2{
    width:100%;
    min-width: 1920px;
}
.con2in{
    width: 1260px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between
}
.title2{
    position: absolute;
    left: 240px;
    top: 160px;
    z-index: 300;
}
.title2 a{
    display: block;
  font-size: 8rem;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.title2 a:hover{
    -webkit-text-fill-color: black;
}
.meimg span{
    display: block;
    width: 300px;
    height: 300px;
}
.sq4{
    background-color:  #c4bfe0;
     position: absolute;
    top: 100px;
    left: 0;
}
.sq5{
     background-color: #d4e2ef;
    position: absolute;
    left: 300px;
    top: 440px;
}
.me{
    position: absolute;
    top: 170px;
    left: 100px;
}
.me a{
    display: block;
    width: 400px;
    height: 500px;
    background-image: url(../img/hy2.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;      
}
.con2txt{
    margin-top: 75px;
     margin-right: 70px;
}
.abtxt ul{
    width: 100%;
    height: 100%;
    
}
.abtxt li{
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px;
}
.name{
    font-family: 'Noto Serif JP', serif;
    letter-spacing: 2px;
}
.month{
    font-weight: 500;
}
.month:hoveR{
    text-decoration-line: underline;
}
.key{
    margin-top: 200px;
}
.key ul{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.key li{
    width: 45%;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.key li p{
    padding: 15px;
    border: 1px solid #c4bfe0;
    border-radius: 25px;
}
.key li p:hover{
    background-color: #c4bfe0;
    color: rgba(255,255,255,0.8);
}
.con3{
    width: 100%;
    min-width: 1920px;
}
.con3in{
    width: 1260px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-position: center;
    background-size: 100%;
}
.title3{
font-size: 6rem;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    position: absolute;
    top: 400px;
    left: 500px;
    z-index: 300;
} 
.title3:hover{
   -webkit-text-fill-color:  black;
}
.con4{
    width: 100%;
    min-width: 1920px;
}
.con4in{
    width: 1260px;
    height: 100vh;
    margin: 0 auto;
}
.works img{
    width: 100%;
}
.ch{
    overflow: hidden;
    width: 800px;
    position: absolute;
    top: -340px;
    left: -280px;
    z-index: 200;
}
.w1{
    width: 1260px;
    position: relative;
}
.w1 .txt{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    display: none;
}
.w1:hover .txt{
    display: block;
}
.w2{
    width: 1260px;
    position: relative;
}
.w2 .txt{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    display: none;
}
.w2:hover .txt{
    display: block;
}

.w3{
    width: 1260px;
    position: relative;
}
.w3 .txt{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    display: none;
}
.w3:hover .txt{
    display: block;
}
.w4{
    width: 1260px;
    position: relative;
}
.w4 .txt{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #fff;
    display: none;
}
.w4:hover .txt{
    display: block;
}
.b2prev{}
.b2next{}
.txt ul{
    display: flex;
     align-items: center;
    justify-content: center;
     height: 100%;
}
.txt li a{
    margin-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 30px;
    color: rgba(255,255,255,0.8);
}
.txt li a:hover{
    background-color: rgba(0,0,0,0.5);
}
.con5{
    width: 100%;
    min-width: 1920px;
    padding-top: 100px;
}
.con5in{
    width: 1260px;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.con5txt{
    padding-top: 450px;
}
.title5 p{
    font-size: 6rem;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    text-align: center;
}
.title5 p:hover{
    -webkit-text-fill-color: black;
}
.txt5 p{
    font-size: 15px;
    letter-spacing: 2px;
  font-family: 'Noto Serif JP', serif;  
}
.txt5:before{
    display: block;
    content: "";
    width: 200px;
    height: 1px;
    background-color: #c4bfe0;
    margin-left: 500px;
    margin-bottom: 50px;
}
.txt5:after{
    display: block;
    content: "";
    width: 200px;
    height: 1px;
    background-color: #c4bfe0;
    margin-left: 500px;
    margin-top: 50px;
}
.contac{
    text-align: center;
        font-size: 15px;
    margin-top: 50px;
}
.contac li{
    padding: 20px;
}
.num, .email{
    letter-spacing: 5px;
}
.email{
    font-family: 'Noto Serif JP', serif; 
}
.page-indicator {
    position:fixed;
    top:50%;
    right:20px;
    transform:translateY(-50%);
    padding:10px;
    transition:transform 0.3s;
}
.page-indicator img{
    width: 30px;
}
.page-indicator  li a{
    color: #121212;
    font-family: 'Noto Serif JP', serif; 
}
.page-indicator  li:hover{
    background-color: rgba(54, 162, 235, 0.2);
}
.page-indicator  li a:hover{
    
    transform: scale(1.05);
}
.page-indicator > ul > li.active {
    background-color: rgba(54, 162, 235, 0.2);
    color:white;
    transform: scale(0.9);
}

html[data-current-page-index="0"] .page-indicator {
    transform:translateY(0);
}